<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d68fa3">  <td>18/10/28 15:36:42</td>   <td>0</td> <td title="&gt;&gt;ProjectMethodsPom.beforeSuite()[pri:0, instance:testcasesPom.TC001CreateLeadUsingPom@52a86356]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/28 15:36:42</td>   <td>391</td> <td>&nbsp;</td><td title="&gt;&gt;TC001CreateLeadUsingPom.setData()[pri:0, instance:testcasesPom.TC001CreateLeadUsingPom@52a86356]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/28 15:36:42</td>   <td>614</td> <td title="&lt;&lt;ProjectMethodsPom.afterSuite()[pri:0, instance:testcasesPom.TC001CreateLeadUsingPom@52a86356]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
</table>
